/*From SMACCS*/
/*Base Rules

A Base rule is applied to an element using an element selector,
a descendent selector, or a child selector, along with any
pseudo-classes. It doesn’t include any class or ID selectors.
It is defining the default styling for how that element should look
in all occurrences on the page.*/

body {
  background-color: darkgrey;
}
div {
  clear: left;
}
h1 {
  color: black;
  font-size: 250%;
  border-top: 1em;
  border: 2em solid #b3cccc;
  text-align: auto;
}
h2 {
  color: blue;
  font-size: 200%;
}
h3 {
  color: blue;
  font-size: 200%;
}
h4 {
  color: blue;
  font-size: 150%;
}
h5 {
  color: blue;
  font-size: 150%;
}
p.one {
  font-size: 150%;
  float: both;
}
p.three {
  font-size: 150%;
  float: both;
}
body {
  background-color: #ffb3ff;
}
a {
  font-size: 100%;
  color: BLACK;
}
ul.circle {
  font-size: 150%;
  list-style-type: circle;
}
ol {
  display: grid;
  font-size: 125%;
}
li {
  font-size: 125%;
  display: inline-block;
}
img {
  width: 250px;
  height: 250px;
  float: left;
  margin-right: 10px;
  border: 100px;
}
